<p id="notice"><%= notice %></p>

<p>
  <strong>Age range code:</strong>
  <%= @age_range.age_range_code %>
</p>

<%= link_to 'Edit', edit_age_range_path(@age_range) %> |
<%= link_to 'Back', age_ranges_path %>
